.post{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75vh;
    display: flex;
}

.post-header .user-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post-feed{
    width: 100%;
    height: 100%;
}

.post-detail{
    padding-top: 0;
}

.feed{
    position: relative;
    padding-bottom: 40px;
    overflow-y: scroll;
}

div::-webkit-scrollbar{
    width: 10px;
}

.comment-box{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 31%;
    padding: 10px;
    height: auto;
    border: none;
    border-top: 1px solid #999;
    background: #fff;
    z-index: 2;
}

#comment-input{
    border: 1px solid #999;
}



.comment-card .user-dp{
    margin-top: 5px;
    height: 30px;
    width: 30px;
}

.comment-card .username{
    font-size: 0.8rem;
    opacity: .5;
}

.comment{
    font-size: .8rem;
}




































